/* ==|====================
   Module/Global
   ======================= */

/*===titles===*/
.title-main h1{
    position: relative;
    font-family: $font1;
    color: $color1;
    font-weight: bold;
    @include fluidFontSize(18px,30px,480px,1680px,34px,24px);
}