/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 2000px) {

}

@media only screen and (max-width: 1680px) {

}

@media only screen and (max-width: 1366px) {

}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
    .rec-top-side{
        margin: 0;
    }
    .rec-table-top{
        display: none;
    }
    .rec-table-item{
        flex-wrap: wrap;
        justify-content: center;
    }
    .rec-table-score{
        margin: 20px 0 0 25%;
        span{
            border-radius: 50%;
            border: 1px solid $color1;
            width: 70px;
            height: 70px;
            line-height: 70px;
            display: inline-block;
        }
    }
    .rec-table-more{
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .rec-table-provider,
    .rec-table-features,
    .rec-table-price,
    .rec-table-score,
    .rec-table-more{
        margin-top: 20px;
    }
    .rec-table-score{
        margin-left: 0;
    }
    .rec-top-img{
        display: none;
    }
    .rec-table-price{
        order: 1;
    }
    .rec-table-features{
        order: 2;
    }
    .rec-table-price{
        order: 3;
    }
    .rec-table-more{
        order: 4;
    }
}

@media only screen and (max-width: 640px){

}

@media only screen and (max-width: 480px) {

}
/*===Additional style===*/
.header,
.footer{
    background-color: #eee;
}
/*===Additional style===*/