/* ===========================
   Base
   =========================== */
@import "sprite-build/sprite.css";

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
body{
    font-family: $font1;
}
li{
    list-style-type: none;
}

a{
    color: $color2;
    text-decoration: none;
}
a, button, img{
    transition: all .5s linear;
}

a,
a:focus,
button,
input,
textarea{
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
.icon{
    display: inline-block;
    background-repeat: no-repeat;
}